server {
    listen 80;

    location /api/ {
        proxy_pass ${UPSTREAM_BACKEND};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        proxy_pass ${UPSTREAM_FRONTEND};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location = /healthz {
        return 200 'nginx-ok';
    }
}
